.btn {
  border: 1px solid transparent;
  padding: $input-padding-y $input-padding-x;
  -webkit-appearance: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $font-size;
  margin: 0 0;
  outline: none;
  &:hover,
  &:focus {
    outline: none;
  }
}
.btn-primary {
  background-color: $primary-color;
  color: white;
  &:hover,
  &:focus {
    background-color: lighten($primary-color, 10%);
    outline: none;
  }
}
button::-moz-focus-inner {
  border: 0 !important;
}
