label{
    font-weight: bold;
}
input{
    padding:0 0.5em;
    line-height:$line-height - 2px;
    margin:0;
    // width: 100%;
    border: 1px solid lighten($primary-color, 20%);
    
}
input[type=text]:focus {
    background-color:$primary-color;
    color:white;
    &::placeholder{
        color:white;
    }
}
.form-control{
    display: block;
}