// * {
//   margin: 0;
//   padding: 0;
// }

html, body {
  margin: 0;
}
html{
  overflow-y:scroll;
  // font-family:"Arial Unicode MS","Lucida Sans Unicode";
}

h1 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 2em;
}



