.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1em;
}
.col-6,.col-12 {
  grid-column: span 12;
  .disp{
    line-height:$line-height;
  }
  .desc{
    font-weight: bold;
  }
}
@media (min-width: 500px) {
  .col-6 {
    grid-column: span 6;
  }
}
