#page-container {
  position: relative;
  min-height: 100vh;
}

#main-footer {
  color: white;
  background-color: $primary-color;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width:100%;
}
#content-wrap {
  padding-bottom:$footer-height;
}

.main-head {
  grid-area: header;
  padding: 1em 1em 1em 0.5em;
  color: white;
  background-color: $primary-color;
}

#main-layout {
  margin-right: auto;
  margin-left: auto;
  padding: 0 0.5em;
  max-width: 1366px;
  margin-top: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "nav"
    "content"
    "sidebar";
}


@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
  #main-layout {
    grid-template-areas:
      "nav"
      "content"
      "sidebar";
  }
  nav ul {
    border-bottom: 1px solid lighten($primary-color, 20%);
    display: flex;
    justify-content: space-between;
    li {
      border-bottom: none;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  #main-layout {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "nav content sidebar"
      "nav content sidebar";
  }
  nav ul {
    flex-direction: column;
    align-items: start;
  }
}

.main-content {
  grid-area: content;
}

.main-nav {
  grid-area: nav;
}

.side {
  padding-top: 2em;
  grid-area: sidebar;
}

