ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid lighten($primary-color, 20%);
  li {
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid lighten($primary-color, 20%);
    a {
      display: block;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left:0.5em;
      text-decoration: none;
    }
  }
}
