.modal-wrapper {
  display: none;
  .modal {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow: auto; /* enables scrolling for tall modals */
    .modal-content {
      padding: 0.5em 1em;
      background: #fff;
      margin: 1em;
      #close{
          position: absolute;
          top:0;
          right:0;
          padding-top: 15px;
          padding-right:24px;
          cursor: pointer;
          font-size: 2rem;
          font-weight: 700;
          color: #000;
          text-shadow: 0 1px 0 #fff;
          opacity: .5;
          &:hover{
            opacity: 1;
            text-shadow:none;
          }
      }
    }

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        left: 25%;
        transform: translate(-15%, -25%);
       
    }
    @media (max-width: $breakpoint-md) {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: none;
    }
  }
  .modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
  }
}

body.modal-open {
  overflow: hidden;
}
.modal-header{
    font-size: 1.5em;
    padding-right:1em;
}
.modal-body{
    padding:1em 0;
}
.modal-footer{
    display:flex;
    justify-content: flex-end;
}