<div id="page-container">
  <header class="main-head">The header</header>
  <div id="content-wrap">
    <div id="main-layout">
      <nav class="main-nav">
        <ul>
          <li><a href="">Nav 1</a></li>
          <li><a href="">Nav 2</a></li>
          <li><a href="">Nav 3</a></li>
        </ul>
      </nav>
      <article class="main-content">
        <test></test>
      </article>
      <aside class="side">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              Sidebar
            </div>
          </div>
          <div class="card-body">
            Side bar body with som cool content. Mayby images or links to stuff
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              Latest news
            </div>
            <div>
              <button class="btn">Details</button>
            </div>
          </div>
          <div class="card-body">
            Side bar body with som cool content. Mayby images or links to stuff
          </div>
        </div>
      </aside>
    </div>
    <footer id="main-footer">The footer</footer>
  </div>
</div>