<h1>Main article area</h1>
<p>In this layout, we display the areas in source order for any screen less
  that 500 pixels wide. We go to a two
  column layout, and then to a three column layout by redefining the grid, and the placement of items on the
  grid.</p>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      Person details
    </div>
    <div>
      <button class="btn" *ngIf="!isPersonEdit" (click)="onEditPerson()">Edit</button>
    </div>
  </div>
  <div class="card-body">
    <ng-container *ngIf="!isPersonEdit">
      <div class="row">
        <div class="col-md-6">
          <div class="desc">Name</div>
          <div class="disp">Jens</div>
        </div>
        <div class="col-md-6">
          <div class="desc">Gender</div>
          <div class="disp">Male</div>
        </div>
        <div class="col-md-6">
          <div class="desc">
            Address
          </div>
          <address class="disp">
            Nåntunaback 53
            75759 Uppsala
            Sverige
          </address>
        </div>
        <div class="col-md-6">
          <div class="desc">Eye color</div>
          <div class="disp">Blue</div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isPersonEdit">
      <form>
        <div class="row">
          <div class="col-md-6">
            <label>Name</label>
            <input class="form-control" type="text" placeholder="Jens" />
          </div>
          <div class="col-md-6">
            <label>Gender</label>
            <input class="form-control" type="text" placeholder="Male" />
          </div>
          <div class="col-md-6">
            <label>Address</label>
            <input class="form-control" type="text" placeholder="Nåntunaback 53 75759 Uppsala Sverige" />
          </div>
          <div class="col-md-6">
            <label>Eye color</label>
            <input class="form-control" type="text" placeholder="Blue" />
          </div>
          <div class="col-md-6">
            <button class="btn" type="submit" (click)="onSubmit()">Save</button>
            <button class="btn" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <button class="btn" type="button" (click)="openModal()">Open Modal 1</button>
</div>

<modal [id]="modalId">
  <h1>A Custom Modal with long text!</h1>
  <p>Home page text: <input type="text" placeholder="fanta" /></p>
  <button class="btn" type="button" (click)="closeModal();">Close</button>
</modal>