// $primary-color: #4682B4;
$primary-color: #d11b94;
$white: green;
$general-background:#F9FAFB;
$body-color:#000000;
$grey:#d7dadd;
$footer-height:2.5rem;
$line-height:30px;
$font-size:16px;
$breakpoint-lg:800px;
$breakpoint-md:500px;
$font-size:16px;

$input-padding-y:0.33em;
$input-padding-x:1em;
$boxShadow: 0 0 0 .1rem rgba(0,123,255,.5);

$modal-py:0.5em;
$modal-px:1em;

$space-1:0.25em;
$space-2:0.5em;
$space-3:1em;

